@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    *,
    *::after,
    *::before {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }

    body {
        background-color: #f3f4f6;
    }
}

/* @theme {
    --border-450 
} */